USE [master]
GO
/****** Object:  Database [BoostYourStyleDB]    Script Date: 3/16/2025 3:46:35 PM ******/
CREATE DATABASE [BoostYourStyleDB]
GO
USE [BoostYourStyleDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/16/2025 3:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Create_At] [datetime] NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/16/2025 3:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Describe] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/16/2025 3:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[productName] [nvarchar](255) NULL,
	[productImage] [nvarchar](255) NULL,
	[productPrice] [float] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/16/2025 3:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[totalPrice] [float] NULL,
	[note] [nvarchar](255) NULL,
	[create_date] [date] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/16/2025 3:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [varchar](10) NOT NULL,
	[name] [nvarchar](max) NULL,
	[quantity] [int] NULL,
	[price] [money] NULL,
	[releaseDate] [date] NULL,
	[describe] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[cid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/16/2025 3:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Create_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ID], [Username], [Email], [Address], [PhoneNumber], [Password], [RoleID], [Create_At], [active]) VALUES (1, N'user', N'user1@gmail.com', N'Nghean', N'0111111111', N'user', 2, CAST(N'2025-03-12T22:30:29.097' AS DateTime), 1)
INSERT [dbo].[Account] ([ID], [Username], [Email], [Address], [PhoneNumber], [Password], [RoleID], [Create_At], [active]) VALUES (2, N'admin', N'admin@gmail.com', N'Hanoi', N'0000000000', N'admin', 1, CAST(N'2025-03-12T22:30:29.097' AS DateTime), 1)
INSERT [dbo].[Account] ([ID], [Username], [Email], [Address], [PhoneNumber], [Password], [RoleID], [Create_At], [active]) VALUES (3, N'jane@example.com', N'jane@example.com', N'123 Beach Ave,Ocean City', N'09822221331', N'1', 1, CAST(N'2025-03-16T11:58:22.133' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Categories] ([ID], [Name], [Describe]) VALUES (1, N'Clothes', N'Hiện đại, Phù hợp với mọi lứa tuổi.')
INSERT [dbo].[Categories] ([ID], [Name], [Describe]) VALUES (2, N'Watches', N'Dáng đẹp, lịch lãm, cá tính, thể thao.')
INSERT [dbo].[Categories] ([ID], [Name], [Describe]) VALUES (3, N'Shoes', N'Nhiều mẫu mã, thoáng mát, tiện lợi.')
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([id], [order_id], [productName], [productImage], [productPrice], [quantity]) VALUES (6, 1, N'Coat', N'https://i.pinimg.com/736x/cb/94/9c/cb949c0a2fc49e4a64eb364a774381bc.jpg', 5000, 2)
INSERT [dbo].[OrderDetail] ([id], [order_id], [productName], [productImage], [productPrice], [quantity]) VALUES (7, 2, N'T-Shirt', N'https://i.pinimg.com/736x/5d/02/53/5d02539f06d72f0e9ce36c60ec50d9fb.jpg', 1000, 2)
INSERT [dbo].[OrderDetail] ([id], [order_id], [productName], [productImage], [productPrice], [quantity]) VALUES (8, 3, N'Hoodie', N'https://i.pinimg.com/736x/f8/3e/0d/f83e0db545b7cf66ec6734f579977ebb.jpg', 868.686, 4)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [account_id], [totalPrice], [note], [create_date]) VALUES (1, 1, 10000, N'ship', CAST(N'2025-03-16' AS Date))
INSERT [dbo].[Orders] ([id], [account_id], [totalPrice], [note], [create_date]) VALUES (2, 1, 2000, N'fdfd', CAST(N'2025-03-16' AS Date))
INSERT [dbo].[Orders] ([id], [account_id], [totalPrice], [note], [create_date]) VALUES (3, 1, 3474.744, N'ship', CAST(N'2025-03-16' AS Date))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[Products] ([ID], [name], [quantity], [price], [releaseDate], [describe], [image], [cid]) VALUES (N'cl1 ', N'T-Shirt', 0, 1000.0000, CAST(N'2025-03-12' AS Date), N'một trong những loại trang phục phổ biến nhất, có thiết kế đơn giản, dễ phối đồ và phù hợp với nhiều phong cách cổ tròn hoặc cổ chữ V.
Form áo vừa vặn, không quá rộng hay quá ôm. Chất liệu cotton hoặc vải thun co giãn, thoáng mát..', N'https://i.pinimg.com/736x/5d/02/53/5d02539f06d72f0e9ce36c60ec50d9fb.jpg', 1)
INSERT [dbo].[Products] ([ID], [name], [quantity], [price], [releaseDate], [describe], [image], [cid]) VALUES (N'cl2 ', N'Coat', 30, 5000.0000, CAST(N'2020-10-04' AS Date), N'Coat là một loại áo khoác dáng dài, thường được làm từ vải dạ, len, da hoặc sợi tổng hợp dày dặn, giúp giữ ấm tốt và tạo vẻ ngoài thanh lịch, sang trọng.', N'https://i.pinimg.com/736x/cb/94/9c/cb949c0a2fc49e4a64eb364a774381bc.jpg', 1)
INSERT [dbo].[Products] ([ID], [name], [quantity], [price], [releaseDate], [describe], [image], [cid]) VALUES (N'cl3 ', N'Pants', 22, 868.6860, CAST(N'2019-10-04' AS Date), N'một phần quan trọng trong thời trang, có nhiều kiểu dáng phù hợp với từng phong cách và hoàn cảnh khác nhau.', N'https://i.pinimg.com/736x/b7/79/e6/b779e6f79d4730b5c4760a7e1eae58aa.jpg', 1)





GO
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Create_At]) VALUES (1, N'Admin', CAST(N'2025-03-12T22:30:29.060' AS DateTime))
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Create_At]) VALUES (2, N'User', CAST(N'2025-03-12T22:30:29.060' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__536C85E464BAD99F]    Script Date: 3/16/2025 3:46:35 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__85FB4E38860733BF]    Script Date: 3/16/2025 3:46:35 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__A9D105346556D19D]    Script Date: 3/16/2025 3:46:35 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [Create_At]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [Create_At]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Account]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[Categories] ([ID])
GO
USE [master]
GO
