.product img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
}

#watches > nav > ul > li.page-item.active > a {
    background-color: #000;
}

#watches > nav > ul > li:nth-child(n):hover > a {
    background-color: coral;
    color: #fff;
}

.pagination a {
    color: black;
}